body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/** 首页 **/

/** 头部 **/
.head {
    overflow: hidden;
}

/*.head-content {*/
/*width: 100%;*/
/*height: 100px;*/
/*}*/

/** 标志 **/
.head-logo {
    width: 100%;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 20px;
    z-index: 9999;
}

/** 轮播大图 **/
.head-carousel {
    width: 100%;
}

.head-slide {
    width: 100%;
    height: 100%;
}

.head-slide1 {
    background: url("../images/index-1.png") 50% center;
    background-size: cover;
}

.head-slide2 {
    background: url("../images/index-lb02.png") 50% center;
    background-size: cover;
}
#bodyPage {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: -1;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}
/** 导航栏 **/
.main-nav {
    width: 100%;
    height: 45px;
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 100px;
    z-index: 10;
}

.nav-content {
    height: 45px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-content ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.nav-content ul li {
    width: 20%;
    float: left;
    line-height: 42px;
    text-align: center;
    z-index: -1;
}

.nav-content ul li:hover {
    background: #00334B;
    transition: ease-in background 0.3s;
    border-bottom: 3px solid #E6BD10;
}

.nav-content-fot {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    font-family: 微软雅黑;
    font-size: 15px;
}

.nav-content-fot:hover {
    color: #52C5E1;
    text-decoration: none;
}

/** 视频+最新政策 **/
.video {
    background: url("../images/index-2.jpg") 50% center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.video-content {
    width: 900px;
    height: 355px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.video-content-play {
    width: 100%;
    height: 355px;
}

.video-newpolicy {
    width: 100%;
    height: 405px;
    border: 1px solid silver;
    border-radius: 5px;
    background: #ECECEC;
    position: relative;
}

.video-newpolicy-detail {
    width: 245px;
    margin: 0 auto;
}

.video-newpolicy-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #D2D2D2;
    line-height: 50px;
}

.video-newpolicy-title-main {
    display: block;
    width: 100px;
    height: 50px;
    border-bottom: 3px solid #FF7200;
    text-decoration: none;
}

.video-newpolicy-title-main:hover {
    text-decoration: none;
}

.video-newpolicy-news {
    width: 100%;
    margin-top: 30px;
}

.video-newpolicy-news ul li {
    color: #007DB1;
    position: relative;
}

.video-news-topic {
    color: #000000;
    font-size: 13px;
    font-family: 微软雅黑;
}

.video-news-topic:hover {
    text-decoration: none;
    color: #007DB1;
}

.video-new-img {
    position: absolute;
    top: 5px;
    left: 145px;
    z-index: 9999;
}
.video-news-time {
    float: right;
    color: #000000;
    font-size: 12px;
}

.video-newpolicy-ad {
    width: 88%;
    position: absolute;
    bottom: 30px;
}

/** 服务 **/
.serve {
    width: 100%;
    background: url("../images/index-3.jpg") 50% center;
    background-size: cover;
    overflow: hidden;
    position: relative;

}

.serve-content {
    width: 900px;
    height: 503px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


}
.sever-title{
    width: 700px;
    height: 70px;
    margin:0 auto;
    background: url("../images/index-risk.png") no-repeat;
    background-size: 100% 69px;
}
.sever-title-font1{
    color: #ffffff;
    font-size: 35px;
    font-family: 微软雅黑;
    font-weight: bold;
    margin: 0;
}
.sever-title-font2{
    color: #ffffff;
    font-size: 13px;
    margin: 0;
    font-family: 微软雅黑;
    font-weight: bold;
}
.serve-entrance {
    width: 900px;
    margin: 20px auto;
    overflow: hidden;
}

.serve-entrance-line1 {
    width: 100%;
    height: 200px;
}

.serve-entrance-education {
    width: 324px;
    height: 198px;
    float: left;
    margin-right: 10px;
}

.serve-entrance-student {
    width: 566px;
    height: 198px;
    float: left;
}
.serve-entrance-line2 {
    width: 100%;
    height: 176px;
}

.serve-entrance-opera {
    width: 365px;
    height: 198px;
    float: left;
    margin-right: 10px;
}

.serve-entrance-app {
    width: 365px;
    height: 198px;
    float: left;

}

/*.serve-entrance-img {*/
/*transition: all 0.6s;*/

/*}*/

/*.serve-entrance-img:hover {*/
/*transform: scale(0.8);*/
/*}*/

/** 信息服务 **/
.information {
    width: 100%;
    background: url("../images/index-2.jpg") 50% center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.information-content {
    width: 900px;
    height: 356px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.information-title{
    width: 700px;
    height: 70px;
    margin:0 auto;
    background: url("../images/index-ifmation.png");
    background-repeat: no-repeat;
    background-size: 100% 69px;

}
.information-title-main{
    width: 260px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}
.information-title-font1{
    color: #1693A2;
    font-size: 35px;
    font-family: 微软雅黑;
    font-weight: bold;
    margin: 0;
}
.information-title-font2{
    color: #1693A2;
    font-size: 13px;
    margin: 0;
    font-family: 微软雅黑;
    font-weight: bold;

}

.information-img-module {
    width: 202.2px;
    height: 136px;
    position: relative;
}

.information-img {
    width: 100%;
}

.information-font {
    font-family: 微软雅黑;
    font-size: 18px;
    font-weight: bold;
}
.information-img-title {
    width: 100%;
    height: 50px;
    background: url("../images/index-iftitle.png") no-repeat;
    background-size: 203px 50px;
    font-family: 微软雅黑;
    color: #ffffff;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
}

.information-main {
    position: relative;
}

.information-main:hover .information-mengban {
    display: block;
    top: 0;
}

.information-mengban {
    position: absolute;
    width: 202px;
    height: 186px;
    background: #0A2430;
    opacity: 0.5;
    display: none;
}

/** 尾部 **/
.foot {
    width: 100%;
    height: 528px;
    background: #F2F2F2;
    overflow: hidden;
    position: relative;
}

.foot-content {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.foot-copyright {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 60px;
    z-index: 9999;
}

.foot-copyright-company {
    font-size: 12px;
    text-align: center;
    font-family: 微软雅黑;
    margin-bottom: 0;
    margin-top: 50px;
}

.foot-copyright-number {
    font-size: 12px;
    text-align: center;
    font-family: 微软雅黑;
}
/** 左边 **/
.foot-hour {
    width: 217px;
    height: 100%;
    background: #1693A2;
    background-size: 125px 100%;
    float: left;
}

.foot-hour-main {
    width: 165px;
    margin: 85px auto;
}

.foot-hour-main p {
    margin-bottom: 0;
}

.foot-call {
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 18px;
}

.foot-call-number {
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 21px;
    margin-top: 15px;
}

.foot-tb {
    width: 125px;
    text-align: center;
}
/** 右边 **/
.foot-detail {
    width: 683px;
    height: 528px;
    float: left;
}

.foot-detail-category {
    width: 675px;
    margin-top: 85px;
    margin-left: 20px;
}

.foot-friend {
    width: 100%;
    margin-top: 30px
}

.foot-friend-link {
    color: #656565;
    font-family: 微软雅黑;
    font-size: 13px;
    text-decoration: none;
}

.foot-friend-link:hover {
    text-decoration: none;
    color: #1693A2;
}

.foot-erweima {
    width: 300px;
    margin-left: 90px;
    margin-top: 15px;
}
.foot-erweima-title {
    width: 100%;
    height: 25px;
    background: #E5E5E5;
    font-family: 微软雅黑;
    color: #676767;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}

.foot-add1 {
    font-size: 14px;
    color: #656565;
}

.foot-add2 {
    font-size: 13px;
    color: #656565;
    font-family: 微软雅黑;
}

/** 二级页面2 **/
.top {
    width: 100%;
    height: 282px;
    background: url("../images/article/article-head.png") no-repeat;
    background-size: 100% 282px;
    overflow: hidden;
}

.breadnav {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.breadnav-set {
    background: #ffffff;
    margin-bottom: 0;
    margin-top: 20px;
}

.breadnav-content {
    width: 950px;
    height: 60px;
    margin: 10px auto;
}

.article-content {
    width: 100%;
    height: 870px;
    background: #F5F5F5;
    overflow: hidden;
}

.article-content-main {
    width: 950px;
    height: 830px;
    margin: 20px auto;
    background: #ffffff;
    overflow: hidden;
}

.article-content-phone {
    width: 850px;
    height: 60px;
    margin: 50px auto 0;
    background: url("../images/article/article-phone.png") no-repeat;
    background-size: 593px 80px;
}

.article-phone-title {
    margin-left: 30px;
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.article-phone-number {
    font-family: "书体坊赵九江钢笔行书";
    font-size: 18px;
    font-weight: bold;
    color: #0284C0;
    margin-top: 10px;
    margin-left: 55px;
}

.article-company {
    width: 850px;
    margin: 30px auto;
}

.article-content-focus {
    width: 850px;
    margin: 30px auto;
}

.article-focus-main {
    width: 300px;
}

.article-content-map {
    width: 850px;
    height: 300px;
    margin: 30px auto;
}
/** 二级页面2 **/
.top {
    width: 100%;
    height: 282px;
    background: url("../images/article/article-head.png") no-repeat;
    background-size: 100% 282px;
    overflow: hidden;
}

.breadnav {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.breadnav-set {
    background: #ffffff;
    margin-bottom: 0;
    margin-top: 15px;
}

.breadnav-content {
    width: 950px;
    height: 60px;
    margin: 10px auto;
}

.article-content {
    width: 100%;
    height: 870px;
    background: #F5F5F5;
    overflow: hidden;
}

.article-content-main {
    width: 950px;
    height: 830px;
    margin: 20px auto;
    background: #ffffff;
    overflow: hidden;
}

.article-content-phone {
    width: 850px;
    height: 80px;
    margin: 50px auto 0;
    background: url("../images/article/article-phone.png") no-repeat;
    background-size: 593px 80px;
}

.article-phone-title {
    margin-left: 35px;
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
}

.article-phone-number {
    font-family: "书体坊赵九江钢笔行书";
    font-size: 24px;
    font-weight: bold;
    color: #0284C0;
    margin-top: 10px;
    margin-left: 70px;
}

.article-company {
    width: 850px;
    margin: 30px auto;
}

.article-content-focus {
    width: 850px;
    margin: 30px auto;
}

.foot-erweima-title {
    width: 100%;
    height: 25px;
    background: #E5E5E5;
    font-family: 微软雅黑;
    color: #676767;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}

.foot-erweima-title2 {
    width: 100%;
    height: 25px;
    color: #676767;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}
.article-focus-main {
    width: 300px;
}

.article-content-map {
    width: 850px;
    height: 300px;
    margin: 30px auto;
}

.bottom {
    width: 100%;
    height: 200px;
    background: url("../images/article/article-bottom.png") no-repeat;
    background-size: 100% 200px;
    overflow: hidden;
}

.bottom-content {
    width: 950px;
    height: 135px;
    margin: 30px auto;
}

.bottom-link{
    width: 100%;
    /*height: 40px;*/
}
.bottom-link-title{
    width: 102px;
    /*height: 20px;*/
    /*float: left;*/
    color: #656565;
}

/*.bottom-link-content{*/
/*float: left;*/
/*}*/
.bottom-table1 {
    width: 600px;
    height: 50px;
}

.bottom-table2 {
    width: 250px;
}

.bottom-table3 {
    width: 370px;
}

.bottom-table-font {
    color: #656565;
}

.bottom-table-link {
    color: #656565;
    font-family: 微软雅黑;
    margin-right: 5px;
}

.bottom-table-link:hover {
    color: #1693A2;
    text-decoration: none;
}

/** 二级页面1 **/
.list-page {
    width: 100%;
    background: #F5F5F5;
    overflow: hidden;
}

.list-content {
    width: 950px;
    margin: 20px auto;
    overflow: hidden;
}

.left-nav {
    width: 100%;
    background: url("../images/service/left-nav.jpg");
    background-size: 100%;
    overflow: hidden;
    border: 3px solid #e2e2e2;
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav ul li {
    padding-left: 50px;
    cursor: pointer;
    border-bottom: 2px solid #CFE3E2;
}

.left-nav-title {
    color: #4D4D4D;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.left-nav-list {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
}

.left-nav-active {
    background: #EDEDED;
    color: #0D97B0;
    border-left: 3px solid #0D97B0;
}

.left-nav-list-font {
    color: #4D4D4D;
    text-decoration: none;
}

.left-nav-list-font:hover {
    text-decoration: none;
}

.right-content {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    margin-top: 10px;
}

.right-content-ad {
    width: 705px;
    height: 88px;
    position: relative;
}

.right-content-ad-enter {
    width: 93px;
    height: 30px;
    background: url("../images/service/click-enter.jpg") no-repeat;
    text-align: center;
    position: absolute;
    line-height: 30px;
    top: 40px;
    right: 60px;
}

.right-content-ad-enter a {
    font-family: "宋体";
    text-decoration: none;
    color: #000000;
}

.right-problem {
    width: 645px;
    margin: 20px auto;
}

.right-problem-title {
    color: #077B98;
    text-indent: 2em;
    font-weight: bold;
    font-size: 16px;
}

.right-problem-article {
    text-indent: 2em;
    color: #000000;
}

.right-line {
    width: 645px;
    margin: 20px auto;
}

.right-schooldoor {
    width: 645px;
    margin: 20px auto;
}

.right-schooldoor-title {
    color: #088468;
    font-size: 16px;
    text-indent: 2em;
    font-weight: bold;
}

.right-problem-img {
    width: 645px;
    height: 130px;
    margin: 40px auto;
}

.right-problem-img ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.right-problem-img ul li {
    float: left;
    margin-right: 50px;
}

.right-equipment {
    width: 645px;
    height: 80px;
    padding-left: 2em;
    margin: 20px auto;
}

.right-equipment table {
    width: 530px;
    height: 80px;
}

.right-equipment-font1 {
    color: #D29E15;
    font-weight: bold;
}

.right-equipment-font2 {
    font-family: 微软雅黑;
    color: #000000;
}

.right-equipment-img {
    width: 545px;
    height: 100px;
    margin: 20px auto;
}

.right-equipment-img ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.right-equipment-img ul li {
    float: left;
    margin-right: 50px;
}

.right-main {
    width: 645px;
    height: 100px;
    margin: 20px auto;
}

/**  文章列表页 **/
.articleList-content {
    width: 100%;
    overflow: hidden;
    background: #F5F5F5;
}

.articleList-content-title {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background: linear-gradient(#FCFCFC, #F6F6F6);
    padding-left: 10px;
    line-height: 50px;
}

.articleList-content-display {
    width: 100%;
    margin: 0 auto;
}

.articleList-module {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #E7E7E7;
    background: #ffffff;
    padding: 15px;
}

.articleList-module-title {
    width: 100%;
}

.articleList-module-title-font {
    text-decoration: none;
    color: #666666;
}

.articleList-module-title-font:hover {
    color: red;
    text-decoration: none;
}

.articleList-module-title-time {
    float: right;
    font-size: 12px;
    color: #908F8F;
}

.articleList-module-display {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    color: #908F8F;
}

.articleList-module-paging {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

/**  文章详情页 **/
.detail-content {
    width: 100%;
    overflow: hidden;
    background: #F5F5F5;
}

.detail-content-display {
    width: 950px;
    margin: 30px auto;
    background: #ffffff;
}

.detail-content-title {
    width: 950px;
    height: 80px;
    /*border-bottom: 1px solid #E7E7E7;*/
}

.detail-content-topic {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #2171C8;
    font-size: 21px;
    line-height: 50px;
}

.detail-topic-sign {
    width: 100%;
    height: 20px;
    text-align: center;
}

.detail-sigh-font1 {
    color: #2171C8;
    font-size: 12px;
}

.detail-sigh-font2 {
    font-size: 12px;
    margin-right: 10px;
}

.detail-content-article {
    width: 100%;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.detail-content-article p {
    text-indent: 2em;
    font-size: 13px;
}

.detail-content-article-switch {
    width: 50%;
    height: 30px;
    text-align: center;
    margin: 30px auto;
}
/**  中学生安全保障 **/
.right-student {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/** 运营服务平台 **/
.right-operation-img {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.right-operation {
    width: 580px;
    height: 150px;
    padding-left: 2em;
    margin: 30px auto;
}

.right-operation-font1 {
    color: #12985B;
    font-weight: bold;
}
.right-operation table {
    width: 375px;
    height: 150px;
    margin: 0 auto;
}

/** 机房**/
.right-computer {
    width: 705px;
    background: #ffffff;
    overflow: hidden;
}

.right-computer-programme {
    width: 645px;
    height: 27px;
    margin: 20px auto;

}

.right-computer-programme-title {
    width: 150px;
    height: 27px;
    background: url("../images/service/title-bg.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 28px;
    font-family: 时尚中黑简体;
    text-indent: 30px;
}
.right-computer-programme-img {
    width: 550px;
    height: 304px;
    margin: 50px auto;
}

.right-computer-programme-content {
    width: 645px;
    height: 120px;
    margin: 20px auto;
    background: #DEE7E0;
    padding: 20px;
    color: #28A38C;
    text-indent: 2em;
    font-size: 13px;
    line-height: 20px;
}

.right-computer-function {
    width: 645px;
    height: 27px;
    margin: 20px auto;
}

.right-computer-function-title {
    width: 150px;
    height: 27px;
    background: url("../images/service/title-bg.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 28px;
    font-family: 时尚中黑简体;
    text-indent: 30px;
}

.right-computer-function-img {
    width: 645px;
    height: 312px;
    margin: 20px auto;
}

.right-computer-tb {
    width: 550px;
    height: 305px;
    margin: 30px auto;
}

/**  实验实训 **/
.right-experiment {
    width: 705px;
    background: #ffffff;
    overflow: hidden;
}

.right-experiment-programme {
    width: 645px;
    height: 210px;
    margin: 10px auto;
}

.right-experiment-programme-title {
    width: 645px;
    height: 21px;
}

.experiment-programme-font {
    color: #00a189;
    font-size: 15px;
    font-weight: bold;
}

/** 圆点 **/
.experiment-training {
    height: 20px;
    width: 25px;
    float: left;
    margin-top: 2px;
}

.cloud-circle-bot {
    background-color: #19a38d;
    width: 15px;
    height: 15px;
    margin: 0px 0 0 0px;
    border-radius: 50%;
}

.cloud-circle-mid {
    background-color: #fffdfe;
    width: 10px;
    height: 10px;
    margin: -12.5px 0 0 2.5px;
    border-radius: 50%;
}

.cloud-circle-top {
    background-color: #bcbeb8;
    width: 7px;
    height: 7px;
    margin: -8.6px 0 0 4px;
    border-radius: 50%;
}

.right-experiment-programme-content {
    width: 645px;
    height: 175px;
    margin: 20px auto;
}

.experiment-programme-content-left {
    width: 50%;
    height: 175px;
    background-color: #e0eece;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.experiment-programme-content-right {
    width: 50%;
    height: 175px;
    background-color: #cde3dc;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-experiment-classroom {
    width: 645px;
    height: 210px;
    margin: 30px auto;
}

.right-experiment-classroom-introduce {
    width: 645px;
    height: 50px;
    line-height: 20px;
    margin-top: 20px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.right-experiment-classroom-img {
    width: 645px;
    height: 92px;
    margin-top: 20px;
}

.right-experiment-teach {
    width: 645px;
    height: 250px;
    margin: 30px auto;
}

.right-experiment-teach-content {
    width: 100%;
    margin-top: 20px;
}

.experiment-teach-module {
    width: 150px;
    float: left;
}

.experiment-teach-module-img {
    width: 150px;
    height: 150px;
}

.experiment-teach-module-introduce {
    width: 150px;
    height: 20px;
    text-align: center;
}

.experiment-teach-module-introduce p {
    color: #231916;
    font-size: 14px;
}

.ringht-experiment-efficiency {
    width: 645px;
    margin: 20px auto;
}

.ringht-experiment-efficiency-title {
    width: 645px;
    height: 35px;
    border-left: 10px solid #BCBFB9;
    padding-left: 15px;
    color: #00a189;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
}

.ringht-experiment-efficiency-content {
    width: 645px;
    padding-left: 25px;
    margin-top: 10px;
}

.right-experiment-manage {
    width: 645px;
    margin: 20px auto;
}

.right-experiment-environmental {
    width: 645px;
    margin: 20px auto;
}

.right-experiment-bound {
    width: 645px;
    margin: 20px auto;
}

.experiment-environmental-introduce {
    width: 150px;
    text-align: center;
    color: #87C34E;
}

.right-experiment-exam {
    width: 645px;
    margin: 20px auto;
}

/**多媒体**/
.right-media {
    width: 705px;
    padding: 30px;
    background: #ffffff;
}

.right-media-programme {
    width: 645px;
    height: 27px;
}

.right-media-programme-img {
    width: 550px;
    height: 304px;
    margin: 50px auto;
}

.right-media-programme-content {
    width: 545px;
    margin: 20px auto;
    background: #DEE7E0;
    padding: 20px;
    color: #28A38C;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}

.right-media-function {
    margin-bottom: 25px;
}

.right-media-value {
    width: 645px;
    margin: 10px 0;
    padding-bottom: 20px;
}

.right-media-value-content {
    margin: 8px 0 10px;
    border-top: 1px dashed #A0A0A1;
}

.right-media-value-content-head {
    margin-top: 8px;
}

.right-media-value-content-head img {
    float: left;
}

.right-media-value-content-head span {
    margin: 5px 0 0 6px;
    font-weight: bold;
    color: #1E9B83;
    display: block;
    float: left;
}

.right-media-value-content-body {
    margin-top: 8px;
    height: 42px;
    line-height: 20px;
}

.right-media-value-content-body img {
    margin: 0 10px;
    float: left;
}

.right-media-value-content-body div {
    margin-top: 4px;
    float: left;
    display: inline-block;
    width: 575px;
    color: #231815;
}

/** 关于众云 **/
.article-main {
    width: 950px;
    height: 830px;
    overflow: hidden;
    background-color: white;
    margin: 20px auto;
}

.company-profile {
    width: 690px;
    margin: 40px auto;
}

.company-title {
    width: 140px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 3px solid #ABABAB;
    font-size: 24px;
    height: 45px;;
}

.main-body {
    line-height: 30px;
    margin-top: 20px;
    text-indent: 2em;
}

.education-figure {
    width: 690px;
    margin: 30px auto;
    height: 200px;
}

.face-education {
    width: 250px;
    margin: 0 auto;
    font-size: 18px;
    font-family: 微软雅黑;
    text-align: center;
}

.face-education-span {
    float: right;
    width: 690px;
    padding-left: 200px;
    text-align: center;
    font-size: 14px;
    font-family: 微软雅黑;
}

.face-education-span span {
    letter-spacing: -2px;
}

.face-education-all {
    width: 690px;
    margin: 60px auto;
    height: 60px;
    margin-bottom: 0;
}

/**便捷办公**/
.right-office {
    width: 705px;
    padding: 30px;
    background: #ffffff;
}

.right-office-scene {
    padding: 7px 34px;
}

.right-office-scene-img {
    width: 244px;
    height: 112px;
    margin: 16px 22px;
    float: left;
    position: relative;
}

.right-office-scene-title {
    width: 244px;
    height: 30px;
    border-radius: 0 0 1px 1px;
    background: #4BA28F;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
}
.right-office-scene-content {
    width: 532px;
    margin: 15px auto;
    text-align: center;
}

.right-office-scene-content span {
    color: #1D9B83;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
}

.right-office-scene-content-left {
    margin-top: 10px;
    float: left;
    width: 198px;
    height: 3px;
}

.right-office-scene-content-right {
    margin-top: 10px;
    float: right;
    width: 198px;
    height: 3px;
}

.right-office-scene-content-body {
    text-indent: 2em;
    line-height: 24px;
    text-align: justify;
}

.right-office-value {
    margin-top: 30px;
}

.right-office-value-content {
    margin: 18px 0;
}

.right-office-value-left {
    width: 275px;
    float: left;
}

.right-office-value-left-head {
    margin: 10px 0;
    height: 40px;
}

.right-office-value-left-head div:first-child {
    width: 8px;
    height: 38px;
    background-color: #BCBFB9;
    float: left;
}

.right-office-value-left-head p {
    margin: 9px 15px;
    font-weight: bold;
    color: #1D9B83;
    float: left;
}

.right-office-value-left-body {
    margin: 10px 0;
    line-height: 25px;
    font-size: 14px;
    text-indent: 2em;
    text-align: justify;
}

.right-office-value-right {
    float: left;
}

.right-office-value-content {
    height: auto;
}

/**加入众云**/
.jionUs {
    width: 100%;
    background: #F5F5F5;
    overflow: hidden;
}

.join-us {
    width: 900px;
    background-color: white;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.join-title {
    width: 690px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    font-size: 27px;
    color: black;
    border-bottom: 2px solid gray;
}

.jion-administration {
    width: 800px;
    margin: 20px auto;
}

.administration-title {
    font-family: 微软雅黑;
    color: #FF6800;
}

.administration-content {
    font-family: 微软雅黑;
    font-size: 13px;
}

.jion-aplay {
    width: 100%;
    height: 30px;
    text-align: center;
}

.join-button {
    background: #1693A2;
    color: #ffffff;
}
.jion-aplay-basic {
    width: 100%;
    height: 40px;
    background: #E1E1E1;
    line-height: 40px;
    font-family: 微软雅黑;
    text-align: left;
    padding-left: 10px;
    color: #4C639A;
}

.aplay-basic-information {
    width: 100%;
    margin-top: 10px;
}

.aplay-information-area {
    width: 60px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-type {
    width: 120px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-phone {
    width: 120px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.jion-aplay-other {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background: #E1E1E1;
    line-height: 40px;
    font-family: 微软雅黑;
    text-align: left;
    padding-left: 10px;
    color: #4C639A;
}

.aplay-other-information {
    width: 100%;
    margin-top: 10px;
}

.aplay-information-table1 {
    width: 100%;
}

.aplay-information-tr1 {
    height: 40px;
}

.aplay-information-td1 {
    text-align: right;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-td2 {
    width: 100px;
    text-align: right;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-input1 {
    width: 120px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-QQ {
    width: 175px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-suggest {
    width: 230px;
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-table2 {
    width: 80%;
}

.aplay-information-uadate {
    text-align: left;
    padding-left: 20px;
}

.aplay-information-uadate a {
    font-size: 13px;
    font-family: 微软雅黑;
    margin-right: 15px;
}

.aplay-information-uadate a:hover {
    text-decoration: none;
}

.aplay-information-input2 {
    font-size: 13px;
    font-family: 微软雅黑;
}

.aplay-information-remark {
    width: 300px;
    height: 100px;
}

.listAll-news {
    list-style: none;
}
.file-item1{
    float: left;
    width: 140px;
    position: relative;
    margin: 0 20px 0px 0;
    padding: 14px;
}
.file-item1 .info{
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
}
.webuploader-pick1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
/**  公共 **/
.common-font {
    font-family: 微软雅黑;
}

/**  最新动态 **/
.mostnew {
    width: 950px;
    margin: 30px auto;
}

.mostnew-list {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/service/list-new.jpg");
    list-style: none;

}

.mostnew-list-content {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ffffff;
    border-radius: 3px;
    /*background: linear-gradient(#FCFCFC, #F6F6F6);*/
    text-align: center;
    line-height: 40px;

}

.mostnew-list-content a {
    font-family: 微软雅黑;
    font-size: 13px;
    text-decoration: none;
}
