.eco_header{
    padding: 28px 0 0 0;
}
.header-logo{
    padding-right: 10px;
    border-right: 1px solid #d8d8d8;
}
.header-font{
    padding: 0 10px;
    font-size: 21px;
    font-family: 时尚中黑简体;
    color: #999999;
    line-height: 66px;
}
.header-phone{
    line-height: 66px;
}
.header-phone-number{
    color: #FF8214;
    font-size: 16px;
    font-family: 微软雅黑;
}
.section-ad{
    width: 100%;
    height: 300px;
    background: url("../images/index-ad.png");
    background-size: cover;
}
.section-news{
    width: 100%;
    padding: 28px 0 0 0;
}
.news-information{
    padding: 28px 0 0 0;
    border-top:3px solid #3482C2;
}
.pubmednewsletter-chinese{
    margin: 0;
    font-size: 18px;
    font-family: 微软雅黑;
}
.pubmednewsletter-english{
    margin: 0;
    font-size: 14px;
    color: #BBBBBB;
}
.moreinformation{
    display: block;
    background: #E0E0E0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color:#666666;
}
.moreinformation:hover{
    text-decoration: none;
}
.news-information-title{
    width: 100%;
    height: 45px;
}
.index-line{
    width: 100%;
    height: 4px;
    margin-top: 5px;
    background: url("../images/index-line.png");
}
.news-information-content{
    margin-top: 25px;
}
.news-information-content-display{
    font-size: 16px;
    border: 1px solid #e6e6e6;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.news-information-content-display:hover{
    background: #FAFAFA;
}
.news-information-content-display-a{
    color: #666666;

}
.news-information-content-display-a:hover{
    color:#3482C2 ;
    text-decoration: none;
}
.section-guide{
    width: 100%;
    margin-top: 20px;
    background: #FAFAFA;
    padding: 28px 0 0 0;
}
.guide-content-display{

}
.index-zn{
    width: 100%;
}
.guide-content-display-name{
    width: 100%;
    text-align: center;
}
.section-analysis{
    width: 100%;
    padding: 28px 0 0 0;
}
.section-textbook{
    width: 100%;
    background: #FAFAFA;
    padding: 28px 0 0 0;
}

/****/
.lbcontent{
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
.item li{
    list-style: none;
}
.carousel[data-shift="1"] .carousel-inner > .item {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.carousel .carousel-inner > .item.row { margin: 0; }

.carousel .carousel-control {
    background: none;
    color: transparent;
    overflow: hidden;
    text-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 30px;
}

.carousel .carousel-control:before {
    color: #444;
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
}

.carousel .carousel-control.left { left: -30px; }

.carousel .carousel-control.left:before { content: '\e079'; }

.carousel .carousel-control.left:after { right: -100%; }

.carousel .carousel-control.right { right: -30px; }

.carousel .carousel-control.right:before { content: '\e080'; }

.carousel .carousel-control.right:after { left: -100%; }


/****/

.foot{
    width: 100%;
    background: #CCCCCC;
    min-height: 150px;
    margin-top: 20px;
}




/****/
.left-nav {
    width: 100%;
    background: url("../images/left-nav.jpg");
    background-size: 100%;
    overflow: hidden;
    border: 3px solid #e2e2e2;
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav ul li {
    padding-left: 50px;
    cursor: pointer;
    border-bottom: 2px solid #CFE3E2;
}

.left-nav-title {
    color: #4D4D4D;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.left-nav-list {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
}

.left-nav-active {
    background: #EDEDED;
    color: #0D97B0;
    border-left: 3px solid #0D97B0;
}

.left-nav-list-font {
    color: #4D4D4D;
    text-decoration: none;
}

.left-nav-list-font:hover {
    text-decoration: none;
}
.nav-banner{
    width: 100%;
    padding: 28px 0 0 0;
}
.right-content{
    width: 100%;
    padding: 0 26px;
}
.right-content ul{
    margin: 0;
    padding: 0;
}
.right-content ul li{
  margin-bottom: 10px;
}
.article-content-title{
    font-size: 15px;
    color: #333333;
}
.article-content-time{
    float: right;
    font-size: 13px;
    color: #666666;
}
.article-detail{
    width: 100%;
}
.detail-content {
    width: 100%;
    overflow: hidden;
    background: #F5F5F5;
}

.detail-content-display {
    width: 950px;
    margin: 30px auto;
    background: #ffffff;
}

.detail-content-title {
    width: 950px;
    height: 80px;
    /*border-bottom: 1px solid #E7E7E7;*/
}

.detail-content-topic {
    width: 100%;
    height: 50px;
    text-align: center;
    color: #2171C8;
    font-size: 21px;
    line-height: 50px;
}

.detail-topic-sign {
    width: 100%;
    height: 20px;
    text-align: center;
}

.detail-sigh-font1 {
    color: #2171C8;
    font-size: 12px;
}

.detail-sigh-font2 {
    font-size: 12px;
    margin-right: 10px;
}

.detail-content-article {
    width: 100%;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.detail-content-article p {
    text-indent: 2em;
    font-size: 13px;
}

.detail-content-article-switch {
    width: 50%;
    height: 30px;
    text-align: center;
    margin: 30px auto;
}
.article-detail-content{
    padding: 75px;
}
.article-detail-content p{
    text-indent: 2em;
    line-height: 25px;
}
.foot-copyright-company {
    font-size: 12px;
    text-align: center;
    font-family: 微软雅黑;
    margin-bottom: 0;

}